<mat-vertical-stepper linear>
  <mat-step [stepControl]="buyForm">
    @if(_show == null){

    }
    @else {
    <ng-template matStepLabel>
      Show date : {{_show.info.date}}
    </ng-template>
    <form [formGroup]="buyForm">
      <mat-form-field>
        <mat-label>Your contact</mat-label>
        <input matInput formControlName="name" required>
        @if (buyForm.controls['name'].hasError('required')) {
        <mat-error>This field is required</mat-error>
        }
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Choose your seat</mat-label>
        <input matInput formControlName="seat" required>
        @if (buyForm.controls['seat'].hasError('required')) {
        <mat-error>Please pick a seat</mat-error>
        }
      </mat-form-field>
    </form>
    <button mat-button (click)="buy()">buy ticket</button>

    }

  </mat-step>
  <mat-step>
    payment method with qr code
  </mat-step>
</mat-vertical-stepper>
